* {
    padding: 0;
    margin: 0;
}

html {
    
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    
}

.et-d-flex {
    align-items: center;
    justify-content: center;
    display: flex;
}

#et-figure {
    background: #0c0c0c;
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    width: 1200px;
    height: 100vh;
}

.cam-image {
    background: blue;
}

.et-mobile-container {
    width: 50%;
}

.et-picker-container {
    width: 50%;
    flex-direction: column;
    position: relative;
}

.main-svg {
    max-height: 50vh;
    min-height: 20em;
}

.et-container {
    width: 100%;
    background: rgb(54, 54, 54);
    align-items: stretch;
}

.et-card {
    height: 70px;
    width: 400px;
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.et-main-popup-window {
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.et-section {
    display: flex;
    padding: 5px 20px 5px 20px;
}

.section-one {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid gray;
    background: #d3d3d3;
}

.section-two {
    flex: 2;
    padding: 20px;
}

.section-three {
    border-top: 2px solid gray;
    background: #d3d3d3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.et-main-popup-window {
    align-items: stretch;
    flex-direction: column;
}

.material-card {
    width: 60px;
    height: 60px;
    background: rgb(0, 247, 255);
    border-radius: 7px;
    margin-right: 4px;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: 7px 10px 11px -3px rgba(0,0,0,0.5); 
    box-shadow: 7px 10px 11px -3px rgba(0,0,0,0.5);
    z-index: 2;
}

.material-card > img {
    height: 60px;
    z-index: 1;
}

.material-category {
    display: flex;
    flex-direction: row;
}

.et-back-button {
    margin-right: 30px;
    cursor: pointer;
}

.et-delete-material {
    background: #ff8080;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
}