* {
    padding: 0;
    margin: 0;
}

html {
    
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    
}

.et-d-flex {
    align-items: center;
    justify-content: center;
    display: flex;
}

#et-figure {
    background: #0c0c0c;
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    width: 1200px;
    height: 100vh;
}

.cam-image {
    background: blue;
}

.et-mobile-container {
    width: 50%;
}

.et-picker-container {
    width: 50%;
    flex-direction: column;
    position: relative;
}

.main-svg {
    max-height: 50vh;
    min-height: 20em;
}

.et-container {
    width: 100%;
    background: rgb(54, 54, 54);
    align-items: stretch;
}

.et-card {
    height: 70px;
    width: 400px;
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.et-main-popup-window {
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.et-section {
    display: flex;
}

.section-one {
    background: green;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-two {
    background: yellow;
    flex: 2;
    padding: 20px;
}

.section-three {
    background: rgb(0, 110, 255);
}

.et-main-popup-window {
    align-items: stretch;
    flex-direction: column;
}

.material-card {
    width: 60px;
    height: 60px;
    background: rgb(0, 247, 255);
    border-radius: 7px;
    margin-right: 4px;
    cursor: pointer;
}

.material-category {
    display: flex;
    flex-direction: row;
}