* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    
}

.et-d-flex {
    align-items: center;
    justify-content: center;
    display: flex;
}

#et-figure {
    background: #0c0c0c;
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    width: 1200px;
    height: 100vh;
}

.cam-image {
    background: blue;
}

.et-mobile-container {
    width: 50%;
}

.et-picker-container {
    width: 50%;
    flex-direction: column;
    position: relative;
}

.main-svg {
    max-height: 50vh;
    min-height: 20em;
}

.et-container {
    width: 100%;
    background: rgb(54, 54, 54);
    align-items: stretch;
    overflow: hidden;
}

.et-card {
    height: 70px;
    width: 400px;
    background: rgb(119, 119, 119);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
    color: white;
    letter-spacing: 0.5px;
    padding: 0px 20px;
}

.et-main-popup-window {
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.et-section {
    display: flex;
    padding: 5px 20px 5px 20px;
    flex-wrap: wrap;
}

.section-one {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid gray;
    background: #d3d3d3;
}

.section-two {
    flex: 2;
    padding: 20px;
}

.section-three {
    border-top: 2px solid gray;
    background: #d3d3d3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.et-main-popup-window {
    align-items: stretch;
    flex-direction: column;
    transition-duration: 0.5s;
}

.material-card {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    margin-right: 4px;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: 7px 10px 11px -3px rgba(0,0,0,0.5); 
    box-shadow: 7px 10px 11px -3px rgba(0,0,0,0.5);
    z-index: 2;
    position: relative;
    border: 2px solid transparent;
}

.material-card > img {
    height: 60px;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
}

.material-category {
    display: flex;
    flex-direction: row;
}

.et-back-button {
    margin-right: 30px;
    cursor: pointer;
}

.et-delete-material {
    background: #ff8080;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
}

.et-card-selected {
    border: 2px solid rgb(255, 8, 0);
}

.et-close-popup-window {
    transform: translateX(500px);
    opacity: 0;
    visibility: hidden; 
}

.et-choose-style-title {
    font-size: 20px;
}

.et-add-ribbon {
    padding: 4px 10px;
    background: #ffe066;
    border-radius: 4px;
    color: black;
    margin-left: 10px;
}

.et-choosed {
    background: white;
    color: #0c0c0c;
}

.et-button {
    padding: 12px 20px;
    background: #ffe066;
    cursor: pointer;
    font-weight: bold;
    color: #0c0c0c;
}

@media only screen and (max-width: 806px) {
    
    .mobile-only-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .et-main-popup-window {
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
    }

    .et-picker-container {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    
    .et-card {
        width: 100%;
    }

    .et-choose-style-title {
        font-size: 14px;
    }
    
    .et-main-popup-window {
        width: 100%;
        transform: translate(-50%, -60%);
        font-size: 14px !important;
    }

    .material-card {
        width: 40px;
        height: 40px;
    }

    .et-delete-material {
       width: 35px;
       height: 35px;
    }
}

@media only screen and (max-width: 415px) {
    
    .et-card {
        width: 100%;
    }
    .et-picker-container {
        width: 100%;
    }
}

@media only screen and (max-width: 340px) {
    
    .et-card {
        font-size: 12px !important;
    }
}